In [1]:
import pandas as pd 
from itsdangerous import URLSafeSerializer

In [3]:
data = pd.read_csv(r"C:\Users\diyas\Downloads\MasterDatasetTemp_Preprocessed.csv")

In [4]:
def encrypt(text,s):
    result = ""
    for i in range(len(text)):
        char = text[i]
        if (char.isupper()):
            result += chr((ord(char) + s-65) % 26 + 65)
        else:
            result += chr((ord(char) + s - 97) % 26 + 97)
    return result
s = 23455

In [6]:
l1=[]
for i in data['USN']:
    l1.append(encrypt(i,s))
data['USN']=l1

In [7]:
data

,Unnamed: 0,USN,10thPercentage,10thMarks,12thPercentage,Branch,CGPA,CourseName,CourseGrade,CompanyName_New,...,Publication,ResearchDomain,ScholarshipsKey,SoftwareTools,VolunteeringWork,WorkshopsOrg,WorkshopsDomain,AwardsNLPkey,ExternalCertificatesKey,ExternalCertificatesDomain
0,0,ghIEhlHFVghp,96.00,96.000000,90.000000,CSE,9.68,"['Introduction to Computing Using Python ', 'I...","['S', 'S', 'S', 'A', 'S', 'S', 'S', 'S', 'S', ...",Walmart Labs,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cryptography##
1,1,ghIEhmHFVggi,9.70,92.150000,97.600000,CSE,8.83,"['Introduction to Computing using Python', 'In...","['C', 'A', 'B', 'A', 'S', 'A', 'B', 'A', 'A', ...",TheMathCompany,...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,distinction award##,NaN,NaN
2,2,ghIEhmHFVggi,9.70,92.150000,97.600000,CSE,8.83,"['Introduction to Computing using Python', 'In...","['C', 'A', 'B', 'A', 'S', 'A', 'B', 'A', 'A', ...",NXP Semiconductors,...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,distinction award##,NaN,NaN
3,3,ghIEhmHFVggm,95.00,95.000000,96.000000,CSE,9.27,"['Introduction to Computing using Python', 'In...","['B', 'S', 'A', 'A', 'S', 'S', 'A', 'A', 'A', ...",Intuit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,ghIEhmHFVghi,NaN,93.386967,94.000000,CSE,8.95,"['Introduction to Computing using Python', 'In...","['B', 'S', 'A', 'A', 'A', 'S', 'A', 'B', 'A', ...",Citrix,...,NaN,NaN,mrd##,Flask##Spring##MySQL##MongoDB,NaN,NaN,NaN,alcoding##iisc##,NaN,NaN
5,5,ghIEhmHFVghl,9.40,89.300000,89.360000,CSE,8.78,"['Introduction to Computing using Python', 'In...","['B', 'S', 'B', 'A', 'B', 'A', 'B', 'B', 'B', ...",Novarties Healthcare,...,NaN,NaN,NaN,Web Scraping ## Ajax##Flask##Photoshop## Light...,NaN,NaN,NaN,NaN,NaN,NaN
6,6,ghIEhmHFVghm,95.00,95.000000,95.000000,CSE,9.89,"['Introduction to Computing using Python', 'In...","['S', 'S', 'S', 'S', 'S', 'S', 'A', 'S', 'S', ...",Cisco Systems,...,NaN,Operating System##Machine Learning##Deep Learn...,cnr##mrd##,MySQL##OpenCV##keras##scikit-learn##matplotlib...,NaN,NaN,Machine Learning##Image Processing##Deep Learn...,distinction award##olympiad##olympiad##math##,NaN,NaN
7,7,ghIEhmHFVghm,95.00,95.000000,95.000000,CSE,9.89,"['Introduction to Computing using Python', 'In...","['S', 'S', 'S', 'S', 'S', 'S', 'A', 'S', 'S', ...",Optum,...,NaN,Operating System##Machine Learning##Deep Learn...,cnr##mrd##,MySQL##OpenCV##keras##scikit-learn##matplotlib...,NaN,NaN,Machine Learning##Image Processing##Deep Learn...,distinction award##olympiad##olympiad##math##,NaN,NaN
8,8,ghIEhmHFVghn,94.20,94.200000,89.200000,CSE,9.39,"['Introduction to Computing using Python', 'In...","['S', 'S', 'S', 'S', 'A', 'S', 'B', 'A', 'A', ...",Cisco Systems,...,NaN,Machine Learning##,cnr##,SQL,NaN,NaN,NaN,hackerearth##,NaN,NaN
9,9,ghIEhmHFVgho,94.50,94.500000,94.500000,CSE,9.04,"['Introduction to Computing using Python', 'In...","['A', 'S', 'S', 'S', 'A', 'S', 'B', 'A', 'B', ...",Optum,...,NaN,NaN,cnr##,NodeJS##Flask,NaN,NaN,NaN,NaN,NaN,NaN
10,10,ghIEhmHFVgij,9.60,91.200000,87.200000,CSE,8.57,"['Introduction to Computing using Python', 'In...","['B', 'S', 'A', 'S', 'B', 'S', 'A', 'B', 'A', ...",Intuit,...,NaN,Cloud computing##Database Management System##B...,NaN,Cassandra##Spring boot##MongoDB##Mesos##REST,NaN,cie##,NaN,iisc##,NaN,NaN
11,11,ghIEhmHFVgjh,95.00,95.000000,89.400000,CSE,7.71,"['Introduction to Computing using Python', 'In...","['D', 'B', 'D', 'B', 'C', 'B', 'C', 'C', 'B', ...",Accenture,...,NaN,NaN,NaN,Word##Excel##Powerpoint##Angular##Node.js##Exp...,NaN,NaN,NaN,NaN,NaN,NaN
12,12,ghIEhmHFVgjl,94.83,94.830000,95.800000,CSE,9.90,"['Introduction to Computing using Python', 'In...","['S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', ...",Intuit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,ghIEhmHFVgjl,94.83,94.830000,95.800000,CSE,9.90,"['Introduction to Computing using Python', 'In...","['S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', ...",Intuit,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,ghIEhmHFVgjm,10.00,95.000000,90.600000,CSE,8.68,"['Introduction to Computing using Python', 'In...","['A', 'S', 'A', 'S', 'B', 'S', 'B', 'A', 'A', ...",Cisco Systems,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,ghIEhmHFVgjm,10.00,95.000000,90.600000,CSE,8.68,"['Introduction to Computing using Python', 'In...","['A', 'S', 'A', 'S', 'B', 'S', 'B', 'A', 'A', ...",Cisco Systems,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,ghIEhmHFVgjn,8.20,77.900000,85.600000,CSE,7.30,"['Introduction to Computing using Python', 'In...","['E', 'B', 'B', 'A', 'D', 'A', 'D', 'C', 'D', ...",Raramuri Technology,...,NaN,NaN,NaN,NaN,Organised and volunteered Events of Samarpana.,NaN,NaN,NaN,NaN,NaN
17,17,ghIEhmHFVgjo,10.00,95.000000,95.600000,CSE,9.22,"['Introduction to Computing using Python', 'In...","['B', 'A', 'C', 'A', 'A', 'A', 'A', 'A', 'A', ...",Rupeek Fintech,...,NaN,NaN,NaN,Docker##AWS##GCP##SQL##MongoDB##SailJS##Hadoop...,NaN,NaN,NaN,NaN,NaN,NaN
18,18,ghIEhmHFVgkk,85.60,85.600000,97.200000,CSE,7.71,"['Introduction to Computing using Python', 'In...","['B', 'A', 'C', 'A', 'A', 'S', 'B', 'B', 'B', ...",Enquero Global,...,NaN,NaN,NaN,"ReactJS, AWS basics, GCP basics, PostGreSQL, M...",NaN,NaN,NaN,NaN,NaN,NaN
19,19,ghIEhmHFVglg,91.30,91.300000,93.800000,CSE,8.64,"['Introduction to Computing using Python', 'In...","['B', 'A', 'A', 'S', 'A', 'S', 'B', 'B', 'A', ...",Intuit,...,NaN,NaN,NaN,MySQL,NaN,NaN,NaN,NaN,NaN,NaN
20,20,ghIEhmHFVgli,10.00,95.000000,90.800000,CSE,9.17,"['Introduction to Computing using Python', 'In...","['A', 'S', 'A', 'S', 'S', 'S', 'A', 'B', 'B', ...",AirAsia Technology Centre,...,NaN,NaN,NaN,SQL,NaN,NaN,NaN,NaN,NaN,NaN
21,21,ghIEhmHFVgli,10.00,95.000000,90.800000,CSE,9.17,"['Introduction to Computing using Python', 'In...","['A', 'S', 'A', 'S', 'S', 'S', 'A', 'B', 'B', ...",Logmein,...,NaN,NaN,NaN,SQL,NaN,NaN,NaN,NaN,NaN,NaN
22,22,ghIEhmHFVglm,NaN,93.386967,93.000000,CSE,8.98,"['Introduction to Computing using Python', 'In...","['B', 'A', 'B', 'S', 'A', 'S', 'B', 'B', 'B', ...",Samsung,...,NaN,Image Processing##,NaN,AWS##Hadoop##GCP##Zookeeper##Docker,NaN,NaN,NaN,NaN,NaN,NaN
23,23,ghIEhmHFVglm,NaN,93.386967,93.000000,CSE,8.98,"['Introduction to Computing using Python', 'In...","['B', 'A', 'B', 'S', 'A', 'S', 'B', 'B', 'B', ...",Samsung,...,NaN,Image Processing##,NaN,AWS##Hadoop##GCP##Zookeeper##Docker,NaN,NaN,NaN,NaN,NaN,NaN
24,24,ghIEhmHFVgmp,NaN,93.386967,92.664813,CSE,9.52,"['Introduction to Computing using Python', 'In...","['S', 'S', 'A', 'A', 'A', 'S', 'A', 'S', 'S', ...",Akamai Technologies,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,ghIEhmHFVgni,90.00,90.000000,91.000000,CSE,8.27,"['Introduction to Computing using Python', 'In...","['A', 'S', 'A', 'A', 'C', 'A', 'C', 'B', 'B', ...",IBM,...,NaN,NaN,NaN,Mysql,NaN,NaN,NaN,NaN,NaN,NaN
26,26,ghIEhmHFVgni,90.00,90.000000,91.000000,CSE,8.27,"['Introduction to Computing using Python', 'In...","['A', 'S', 'A', 'A', 'C', 'A', 'C', 'B', 'B', ...",Mathworks,...,NaN,NaN,NaN,Mysql,NaN,NaN,NaN,NaN,NaN,NaN
27,27,ghIEhmHFVgnj,94.88,94.880000,96.000000,CSE,8.73,"['Introduction to Computing using Python', 'In...","['B', 'S', 'A', 'A', 'B', 'S', 'C', 'B', 'A', ...",NaN,...,NaN,NaN,NaN,JavaScript##PHP##MySQL##CSS##BigData##Machine ...,NaN,NaN,NaN,NaN,NaN,NaN
28,28,ghIEhmHFVgnj,94.88,94.880000,96.000000,CSE,8.73,"['Introduction to Computing using Python', 'In...","['B', 'S', 'A', 'A', 'B', 'S', 'C', 'B', 'A', ...",Accenture,...,NaN,NaN,NaN,JavaScript##PHP##MySQL##CSS##BigData##Machine ...,NaN,NaN,NaN,NaN,NaN,NaN
29,29,ghIEhmHFVgnk,NaN,93.386967,92.664813,CSE,9.72,"['Introduction to Computing using Python', 'In...","['S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', 'S', ...",Mathworks,...,NaN,Cloud computing##Image Processing##Deep Learni...,cnr##,Tensorflow##Pytorch##OpenCV##Scikitlearn##Matp...,NaN,NaN,NaN,outstanding##,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,163,SHVhighnghlil,94.88,94.880000,92.700000,CSE,8.93,"['Introduction to Computing Using Python', 'In...","['S', 'A', 'S', 'S', 'A', 'A', 'A', 'A', 'S', ...",Akamai Technologies,...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,math##,NaN,NaN
164,164,SHVhighnghlim,10.00,95.000000,97.700000,CSE,9.10,"['Introduction to Computing Using Python', 'In...","['A', 'A', 'A', 'S', 'A', 'S', 'S', 'B', 'S', ...",Amagi,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,165,SHVhighnghlio,94.16,94.160000,94.500000,CSE,9.31,"['Introduction to Computing Using Python', 'In...","['B', 'S', 'A', 'S', 'A', 'S', 'A', 'A', 'S', ...",Hewlett-Packard Enterprise,...,NaN,Cloud computing##,cnr##,NaN,NaN,NaN,Artificial Intelligence##,distinction award##math##chemistry##,harvard##google##,NaN
166,166,SHVhighnghlji,95.33,95.330000,93.200000,CSE,8.94,"['Introduction to Computing Using Python', 'In...","['S', 'A', 'A', 'A', 'C', 'A', 'B', 'A', 'A', ...",Akamai Technologies,...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,167,SHVhighnghljm,98.08,98.080000,95.500000,CSE,9.29,"['Introduction to Computing Using Python', 'In...","['A', 'A', 'A', 'A', 'A', 'A', 'S', 'A', 'S', ...",Amadeus Software Labs,...,NaN,NaN,cnr##mrd##,NaN,Member of CSR (Collegiate Social Responsibility),NaN,NaN,NaN,NaN,NaN
168,168,SHVhighnghlkj,10.00,95.000000,96.400000,CSE,9.48,"['Introduction to Computing Using Python', 'In...","['S', 'S', 'S', 'S', 'B', 'A', 'B', 'A', 'S', ...",Target,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,169,SHVhighnghlkk,10.00,95.000000,95.200000,ECE,8.54,"['Introduction to Computing Using Python', 'In...","['B', 'A', 'B', 'B', 'A', 'B', 'S', 'B', 'C', ...",Amadeus Software Labs,...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,cnr##merit##,NaN,NaN
170,170,SHVhighnghlkl,8.20,77.900000,95.800000,CSE,8.57,"['Introduction to Computing Using Python', 'In...","['C', 'S', 'C', 'S', 'A', 'A', 'A', 'A', 'A', ...",Intuit,...,NaN,NaN,NaN,NaN,Core Member for CSR-PESU. Years of Service: 20...,NaN,NaN,NaN,google##,deep learning##neural networks##
171,171,SHVhighnghlkp,89.00,89.000000,98.000000,CSE,9.45,"['Introduction to Computing Using Python', 'In...","['S', 'S', 'A', 'A', 'S', 'A', 'A', 'A', 'S', ...",NaN,...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,distinction award##,NaN,NaN
172,172,SHVhighnghllm,97.28,97.280000,93.000000,ECE,8.69,"['Introduction to Computing Using Python', 'In...","['B', 'A', 'B', 'A', 'S', 'B', 'A', 'A', 'B', ...",Analog Devices,...,NaN,NaN,cnr##mrd##,NaN,Volunteered at The Amateur Scientist Competiti...,pes##,NaN,NaN,NaN,NaN
173,173,SHVhighnghlnj,95.66,95.660000,91.200000,CSE,9.63,"['Introduction to Computing Using Python', 'In...","['S', 'A', 'S', 'S', 'A', 'S', 'S', 'S', 'S', ...",Amazon,...,NaN,Cloud computing##,cnr##mrd##distinction##,NaN,NaN,NaN,NaN,outgoing##,NaN,NaN
174,174,SHVhighnghlnl,95.00,95.000000,97.200000,CSE,9.38,"['Introduction to Computing Using Python', 'In...","['A', 'A', 'S', 'S', 'A', 'S', 'A', 'S', 'S', ...",Goldman Sachs,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,175,SHVhighnghlnm,96.00,96.000000,93.300000,CSE,8.17,"['Introduction to Computing Using Python', 'In...","['C', 'S', 'C', 'A', 'B', 'A', 'C', 'B', 'C', ...",Citrix,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,176,SHVhighnghlnp,9.40,89.300000,96.000000,ECE,6.84,"['Select Topics in Data Science', 'Introductio...","['B', 'C', 'A', 'B', 'B', 'C', 'D', 'B', 'E', ...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ibm##stanford##,data science##
177,177,SHVhighnghlpl,98.88,98.880000,97.500000,CSE,9.20,"['Introduction to Computing Using Python', 'In...","['S', 'S', 'S', 'A', 'S', 'A', 'A', 'A', 'S', ...",Robert Bosch Engineering & Business Solutions,...,NaN,NaN,cnr##mrd##,NaN,Nil,NaN,NaN,NaN,nptel##,natural language processing##
178,178,SHVhighnghlpn,98.24,98.240000,94.500000,CSE,8.35,"['Introduction to Computing Using Python', 'In...","['C', 'A', 'B', 'A', 'A', 'A', 'B', 'C', 'S', ...",Deloitte,...,NaN,NaN,NaN,NaN,Part of CSR,NaN,NaN,NaN,google##,cloud##big data##
179,179,SHVhighnghlpp,10.00,95.000000,93.000000,ECE,8.81,"['Introduction to Computing Using Python', 'In...","['S', 'A', 'A', 'A', 'A', 'B', 'A', 'A', 'A', ...",Robert Bosch Engineering & Business Solutions,...,NaN,Cloud computing##Deep Learning##Knowledge Mana...,cnr##,NaN,NaN,NaN,NaN,NaN,udemy##,NaN
180,180,SHVhighnghmgk,99.52,99.520000,97.700000,CSE,9.78,"['Introduction to Computing Using Python', 'In...","['B', 'A', 'B', 'S', 'S', 'S', 'S', 'S', 'S', ...",Akamai Technologies,...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,181,SHVhighnghmhl,10.00,95.000000,97.200000,CSE,9.53,"['Introduction to Computing Using Python', 'In...","['S', 'S', 'A', 'A', 'S', 'A', 'A', 'S', 'S', ...",Akamai Technologies,...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,distinction award##,NaN,NaN
182,182,SHVhighnghmhn,92.00,92.000000,97.500000,ECE,9.05,"['Introduction to Computing Using Python', 'In...","['B', 'A', 'B', 'B', 'B', 'A', 'A', 'C', 'A', ...",Cisco Systems,...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,NaN,NaN,android##
183,183,SHVhighnghmhp,9.40,89.300000,92.200000,ECE,9.06,"['Select Topics in Data Science', 'Introductio...","['B', 'A', 'S', 'A', 'S', 'B', 'A', 'A', 'A', ...",Amadeus Software Labs,...,NaN,NaN,distinction##,NaN,NaN,NaN,NaN,distinction award##,NaN,NaN
184,184,SHVhighnghmih,9.80,93.100000,92.000000,CSE,8.61,"['Introduction to Computing Using Python', 'In...","['S', 'S', 'A', 'A', 'C', 'A', 'C', 'A', 'S', ...",Epsilon,...,NaN,NaN,cnr##distinction##,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,185,SHVhighnghmjj,99.00,99.000000,98.200000,CSE,9.77,"['Introduction to Computing Using Python', 'In...","['A', 'A', 'A', 'A', 'S', 'S', 'S', 'A', 'S', ...",Target,...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,186,SHVhighnghmko,98.24,98.240000,97.800000,ECE,8.95,"['Introduction to Computing Using Python', 'In...","['B', 'S', 'B', 'A', 'A', 'A', 'S', 'S', 'B', ...",Epsilon,...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,187,SHVhighnghmlh,9.60,91.200000,94.200000,ECE,9.04,"['Introduction to Computing Using Python', 'In...","['B', 'A', 'S', 'A', 'A', 'C', 'A', 'B', 'C', ...",Cisco Systems,...,NaN,NaN,cnr##,NaN,NaN,cie##ieee##,Blockchain##,NaN,ibm##stanford##,machine learning##data science##
188,188,SHVhighnghmml,98.54,98.540000,91.800000,CSE,8.50,"['Introduction to Computing Using Python', 'In...","['C', 'A', 'B', 'A', 'C', 'C', 'A', 'B', 'A', ...",Amadeus Software Labs,...,NaN,NaN,distinction##,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,189,SHVhighnghmnm,9.60,91.200000,88.000000,ECE,8.26,"['Introduction to Computing Using Python', 'In...","['A', 'S', 'A', 'B', 'B', 'A', 'S', 'B', 'C', ...",Robert Bosch Engineering & Business Solutions,...,NaN,NaN,NaN,NaN,"Teaching Assistant, 2019 - Control Systems, Dr...",ieee##pes##intuit##amazon##,Deep Learning##Robotics##,intel##cnr##merit##,NaN,machine learning##
190,190,SHVhighnghnlh,94.56,94.560000,90.500000,EEE,8.07,"['Introduction to Computing Using Python', 'In...","['D', 'A', 'C', 'A', 'C', 'B', 'A', 'C', 'C', ...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,191,SHVhighnghogp,95.50,95.500000,94.700000,CSE,9.45,"['Introduction to Computing Using Python', 'In...","['S', 'S', 'S', 'S', 'A', 'S', 'A', 'S', 'S', ...",Groww,...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,192,SHVhighngiihl,10.00,95.000000,90.200000,ECE,7.74,"['Introduction to Computing Using Python', 'In...","['D', 'B', 'C', 'A', 'A', 'C', 'A', 'A', 'D', ...",Deloitte,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
data1=data.apply(lambda x: x.astype(str).str.lower())

In [16]:
data1.to_csv(r'MasterDatasetTemp_Preprocessed_Anonymized_small.csv')