In [11]:
import pandas as pd 
from itsdangerous import URLSafeSerializer
import hashlib

In [12]:
data= pd.read_csv(r"C:\Users\diyas\Documents\Recommendation_system\MasterDatasetTemp_Preprocessed_Anonymized_small.csv")

In [13]:
l2=[]
for i in data['USN']:
    p=(hashlib.md5(i.encode()))
    l2.append(p.hexdigest())
data['USN']=l2

In [14]:
data

,Unnamed: 0,Unnamed: 0.1,USN,10thPercentage,10thMarks,12thPercentage,Branch,CGPA,CourseName,CourseGrade,...,Publication,ResearchDomain,ScholarshipsKey,SoftwareTools,VolunteeringWork,WorkshopsOrg,WorkshopsDomain,AwardsNLPkey,ExternalCertificatesKey,ExternalCertificatesDomain
0,0,0,d0c4169ba811166a7b4951da317e35bd,96.00,96.000000,90.000000,cse,9.68,"['introduction to computing using python ', 'i...","['s', 's', 's', 'a', 's', 's', 's', 's', 's', ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,cryptography##
1,1,1,c329c7cbf69444d279b2e9f97259c563,9.70,92.150000,97.600000,cse,8.83,"['introduction to computing using python', 'in...","['c', 'a', 'b', 'a', 's', 'a', 'b', 'a', 'a', ...",...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,distinction award##,NaN,NaN
2,2,2,c329c7cbf69444d279b2e9f97259c563,9.70,92.150000,97.600000,cse,8.83,"['introduction to computing using python', 'in...","['c', 'a', 'b', 'a', 's', 'a', 'b', 'a', 'a', ...",...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,distinction award##,NaN,NaN
3,3,3,1164e1de83c8ad32bb7877f7786fc5e5,95.00,95.000000,96.000000,cse,9.27,"['introduction to computing using python', 'in...","['b', 's', 'a', 'a', 's', 's', 'a', 'a', 'a', ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,b15b17a36144cd839966688d56975c77,NaN,93.386967,94.000000,cse,8.95,"['introduction to computing using python', 'in...","['b', 's', 'a', 'a', 'a', 's', 'a', 'b', 'a', ...",...,NaN,NaN,mrd##,flask##spring##mysql##mongodb,NaN,NaN,NaN,alcoding##iisc##,NaN,NaN
5,5,5,2e7306280fb3f1a016c3ca28c908b464,9.40,89.300000,89.360000,cse,8.78,"['introduction to computing using python', 'in...","['b', 's', 'b', 'a', 'b', 'a', 'b', 'b', 'b', ...",...,NaN,NaN,NaN,web scraping ## ajax##flask##photoshop## light...,NaN,NaN,NaN,NaN,NaN,NaN
6,6,6,1f79dc8b2a49f394d6b7039c9bca1ee4,95.00,95.000000,95.000000,cse,9.89,"['introduction to computing using python', 'in...","['s', 's', 's', 's', 's', 's', 'a', 's', 's', ...",...,NaN,operating system##machine learning##deep learn...,cnr##mrd##,mysql##opencv##keras##scikit-learn##matplotlib...,NaN,NaN,machine learning##image processing##deep learn...,distinction award##olympiad##olympiad##math##,NaN,NaN
7,7,7,1f79dc8b2a49f394d6b7039c9bca1ee4,95.00,95.000000,95.000000,cse,9.89,"['introduction to computing using python', 'in...","['s', 's', 's', 's', 's', 's', 'a', 's', 's', ...",...,NaN,operating system##machine learning##deep learn...,cnr##mrd##,mysql##opencv##keras##scikit-learn##matplotlib...,NaN,NaN,machine learning##image processing##deep learn...,distinction award##olympiad##olympiad##math##,NaN,NaN
8,8,8,cd8f49562002aab3850c2def6c48b114,94.20,94.200000,89.200000,cse,9.39,"['introduction to computing using python', 'in...","['s', 's', 's', 's', 'a', 's', 'b', 'a', 'a', ...",...,NaN,machine learning##,cnr##,sql,NaN,NaN,NaN,hackerearth##,NaN,NaN
9,9,9,2087810bff36e23431143778b36da0b7,94.50,94.500000,94.500000,cse,9.04,"['introduction to computing using python', 'in...","['a', 's', 's', 's', 'a', 's', 'b', 'a', 'b', ...",...,NaN,NaN,cnr##,nodejs##flask,NaN,NaN,NaN,NaN,NaN,NaN
10,10,10,c4f0c53418c999633d6f8a60faba9240,9.60,91.200000,87.200000,cse,8.57,"['introduction to computing using python', 'in...","['b', 's', 'a', 's', 'b', 's', 'a', 'b', 'a', ...",...,NaN,cloud computing##database management system##b...,NaN,cassandra##spring boot##mongodb##mesos##rest,NaN,cie##,NaN,iisc##,NaN,NaN
11,11,11,10eecc8f21bc286bc0253cf92142e035,95.00,95.000000,89.400000,cse,7.71,"['introduction to computing using python', 'in...","['d', 'b', 'd', 'b', 'c', 'b', 'c', 'c', 'b', ...",...,NaN,NaN,NaN,word##excel##powerpoint##angular##node.js##exp...,NaN,NaN,NaN,NaN,NaN,NaN
12,12,12,bafe8947c01ba1c46bccc01192b51eb9,94.83,94.830000,95.800000,cse,9.90,"['introduction to computing using python', 'in...","['s', 's', 's', 's', 's', 's', 's', 's', 's', ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,13,bafe8947c01ba1c46bccc01192b51eb9,94.83,94.830000,95.800000,cse,9.90,"['introduction to computing using python', 'in...","['s', 's', 's', 's', 's', 's', 's', 's', 's', ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,14,3d17de54e8bad6d910900c97df32159f,10.00,95.000000,90.600000,cse,8.68,"['introduction to computing using python', 'in...","['a', 's', 'a', 's', 'b', 's', 'b', 'a', 'a', ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,15,3d17de54e8bad6d910900c97df32159f,10.00,95.000000,90.600000,cse,8.68,"['introduction to computing using python', 'in...","['a', 's', 'a', 's', 'b', 's', 'b', 'a', 'a', ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,16,4be1bda235ac3dcb400c279cf0281132,8.20,77.900000,85.600000,cse,7.30,"['introduction to computing using python', 'in...","['e', 'b', 'b', 'a', 'd', 'a', 'd', 'c', 'd', ...",...,NaN,NaN,NaN,NaN,organised and volunteered events of samarpana.,NaN,NaN,NaN,NaN,NaN
17,17,17,8f085dcb659cc5321eda131be9a4f751,10.00,95.000000,95.600000,cse,9.22,"['introduction to computing using python', 'in...","['b', 'a', 'c', 'a', 'a', 'a', 'a', 'a', 'a', ...",...,NaN,NaN,NaN,docker##aws##gcp##sql##mongodb##sailjs##hadoop...,NaN,NaN,NaN,NaN,NaN,NaN
18,18,18,3628c8f326dc35760b06c4e36600491f,85.60,85.600000,97.200000,cse,7.71,"['introduction to computing using python', 'in...","['b', 'a', 'c', 'a', 'a', 's', 'b', 'b', 'b', ...",...,NaN,NaN,NaN,reactjs## aws##basics##gcp basics##postgresql#...,NaN,NaN,NaN,NaN,NaN,NaN
19,19,19,02f6781d0e57db7b0ea2a5ce0b339465,91.30,91.300000,93.800000,cse,8.64,"['introduction to computing using python', 'in...","['b', 'a', 'a', 's', 'a', 's', 'b', 'b', 'a', ...",...,NaN,NaN,NaN,mysql,NaN,NaN,NaN,NaN,NaN,NaN
20,20,20,936d06e34c15d143020cc3e137f1b632,10.00,95.000000,90.800000,cse,9.17,"['introduction to computing using python', 'in...","['a', 's', 'a', 's', 's', 's', 'a', 'b', 'b', ...",...,NaN,NaN,NaN,sql,NaN,NaN,NaN,NaN,NaN,NaN
21,21,21,936d06e34c15d143020cc3e137f1b632,10.00,95.000000,90.800000,cse,9.17,"['introduction to computing using python', 'in...","['a', 's', 'a', 's', 's', 's', 'a', 'b', 'b', ...",...,NaN,NaN,NaN,sql,NaN,NaN,NaN,NaN,NaN,NaN
22,22,22,c22ee73ae2628c4166aaba8e7a4ddd03,NaN,93.386967,93.000000,cse,8.98,"['introduction to computing using python', 'in...","['b', 'a', 'b', 's', 'a', 's', 'b', 'b', 'b', ...",...,NaN,image processing##,NaN,aws##hadoop##gcp##zookeeper##docker,NaN,NaN,NaN,NaN,NaN,NaN
23,23,23,c22ee73ae2628c4166aaba8e7a4ddd03,NaN,93.386967,93.000000,cse,8.98,"['introduction to computing using python', 'in...","['b', 'a', 'b', 's', 'a', 's', 'b', 'b', 'b', ...",...,NaN,image processing##,NaN,aws##hadoop##gcp##zookeeper##docker,NaN,NaN,NaN,NaN,NaN,NaN
24,24,24,587b76f5143a06ae72c563ad3c833d6a,NaN,93.386967,92.664813,cse,9.52,"['introduction to computing using python', 'in...","['s', 's', 'a', 'a', 'a', 's', 'a', 's', 's', ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,25,19cb69e99bd86060382f5536109d770b,90.00,90.000000,91.000000,cse,8.27,"['introduction to computing using python', 'in...","['a', 's', 'a', 'a', 'c', 'a', 'c', 'b', 'b', ...",...,NaN,NaN,NaN,mysql,NaN,NaN,NaN,NaN,NaN,NaN
26,26,26,19cb69e99bd86060382f5536109d770b,90.00,90.000000,91.000000,cse,8.27,"['introduction to computing using python', 'in...","['a', 's', 'a', 'a', 'c', 'a', 'c', 'b', 'b', ...",...,NaN,NaN,NaN,mysql,NaN,NaN,NaN,NaN,NaN,NaN
27,27,27,d55fcb4e501439ee7d8a2a32df8a0fcc,94.88,94.880000,96.000000,cse,8.73,"['introduction to computing using python', 'in...","['b', 's', 'a', 'a', 'b', 's', 'c', 'b', 'a', ...",...,NaN,NaN,NaN,javascript##php##mysql##css##google cloud##cis...,NaN,NaN,NaN,NaN,NaN,NaN
28,28,28,d55fcb4e501439ee7d8a2a32df8a0fcc,94.88,94.880000,96.000000,cse,8.73,"['introduction to computing using python', 'in...","['b', 's', 'a', 'a', 'b', 's', 'c', 'b', 'a', ...",...,NaN,NaN,NaN,javascript##php##mysql##css##google cloud##cis...,NaN,NaN,NaN,NaN,NaN,NaN
29,29,29,c16b4d491957d271cde58aa047d44f7f,NaN,93.386967,92.664813,cse,9.72,"['introduction to computing using python', 'in...","['s', 's', 's', 's', 's', 's', 's', 's', 's', ...",...,NaN,cloud computing##image processing##deep learni...,cnr##,tensorflow##pytorch##opencv##scikitlearn##matp...,NaN,NaN,NaN,outstanding##,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,163,163,489bd63e911ac5414ffb061c1ff209a1,94.88,94.880000,92.700000,cse,8.93,"['introduction to computing using python', 'in...","['s', 'a', 's', 's', 'a', 'a', 'a', 'a', 's', ...",...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,math##,NaN,NaN
164,164,164,dc96aa3c0a570ec1d9e72da2eea47738,10.00,95.000000,97.700000,cse,9.10,"['introduction to computing using python', 'in...","['a', 'a', 'a', 's', 'a', 's', 's', 'b', 's', ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,165,165,c51af19426cd7bb36481fafcdf721f7c,94.16,94.160000,94.500000,cse,9.31,"['introduction to computing using python', 'in...","['b', 's', 'a', 's', 'a', 's', 'a', 'a', 's', ...",...,NaN,cloud computing##,cnr##,NaN,NaN,NaN,artificial intelligence##,distinction award##math##chemistry##,harvard##google##,NaN
166,166,166,ce2e7a9270e167f63bf91e5b8cc3206a,95.33,95.330000,93.200000,cse,8.94,"['introduction to computing using python', 'in...","['s', 'a', 'a', 'a', 'c', 'a', 'b', 'a', 'a', ...",...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,167,167,b36067cbf54747f12c5f7db91e096393,98.08,98.080000,95.500000,cse,9.29,"['introduction to computing using python', 'in...","['a', 'a', 'a', 'a', 'a', 'a', 's', 'a', 's', ...",...,NaN,NaN,cnr##mrd##,NaN,member of csr (collegiate social responsibility),NaN,NaN,NaN,NaN,NaN
168,168,168,e9f60bb1a6e9b94edee6c0e1721fd8db,10.00,95.000000,96.400000,cse,9.48,"['introduction to computing using python', 'in...","['s', 's', 's', 's', 'b', 'a', 'b', 'a', 's', ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
169,169,169,0b411a78561be6996cd51b76eb0313f6,10.00,95.000000,95.200000,ece,8.54,"['introduction to computing using python', 'in...","['b', 'a', 'b', 'b', 'a', 'b', 's', 'b', 'c', ...",...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,cnr##merit##,NaN,NaN
170,170,170,b06e1b925122810056cf039a4950edc3,8.20,77.900000,95.800000,cse,8.57,"['introduction to computing using python', 'in...","['c', 's', 'c', 's', 'a', 'a', 'a', 'a', 'a', ...",...,NaN,NaN,NaN,NaN,core member for csr-pesu. years of service: 20...,NaN,NaN,NaN,google##,deep learning##neural networks##
171,171,171,127e3ec46c8af59f68716714c82057ce,89.00,89.000000,98.000000,cse,9.45,"['introduction to computing using python', 'in...","['s', 's', 'a', 'a', 's', 'a', 'a', 'a', 's', ...",...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,distinction award##,NaN,NaN
172,172,172,218a049632b4288165033134fed21411,97.28,97.280000,93.000000,ece,8.69,"['introduction to computing using python', 'in...","['b', 'a', 'b', 'a', 's', 'b', 'a', 'a', 'b', ...",...,NaN,NaN,cnr##mrd##,NaN,volunteered at the amateur scientist competiti...,pes##,NaN,NaN,NaN,NaN
173,173,173,5459de21cf7a952a3d6be33521291acf,95.66,95.660000,91.200000,cse,9.63,"['introduction to computing using python', 'in...","['s', 'a', 's', 's', 'a', 's', 's', 's', 's', ...",...,NaN,cloud computing##,cnr##mrd##distinction##,NaN,NaN,NaN,NaN,outgoing##,NaN,NaN
174,174,174,ce0ca606928f436ba7cd433cbfb0f5dd,95.00,95.000000,97.200000,cse,9.38,"['introduction to computing using python', 'in...","['a', 'a', 's', 's', 'a', 's', 'a', 's', 's', ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175,175,175,20b26dc4b6c78288869463fe6ade7159,96.00,96.000000,93.300000,cse,8.17,"['introduction to computing using python', 'in...","['c', 's', 'c', 'a', 'b', 'a', 'c', 'b', 'c', ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,176,176,d982ef907dd468c2b086454d598ffe5a,9.40,89.300000,96.000000,ece,6.84,"['select topics in data science', 'introductio...","['b', 'c', 'a', 'b', 'b', 'c', 'd', 'b', 'e', ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ibm##stanford##,data science##
177,177,177,a848d77b8db6d16c6e7c070e7190f79b,98.88,98.880000,97.500000,cse,9.20,"['introduction to computing using python', 'in...","['s', 's', 's', 'a', 's', 'a', 'a', 'a', 's', ...",...,NaN,NaN,cnr##mrd##,NaN,nil,NaN,NaN,NaN,nptel##,natural language processing##
178,178,178,19f26b33f0c26c911c846c4487644f83,98.24,98.240000,94.500000,cse,8.35,"['introduction to computing using python', 'in...","['c', 'a', 'b', 'a', 'a', 'a', 'b', 'c', 's', ...",...,NaN,NaN,NaN,NaN,part of csr,NaN,NaN,NaN,google##,cloud##big data##
179,179,179,9706062af0dc176fc2a078f1ec5b8cca,10.00,95.000000,93.000000,ece,8.81,"['introduction to computing using python', 'in...","['s', 'a', 'a', 'a', 'a', 'b', 'a', 'a', 'a', ...",...,NaN,cloud computing##deep learning##knowledge mana...,cnr##,NaN,NaN,NaN,NaN,NaN,udemy##,NaN
180,180,180,0d3917e28d7a7f2346051776029aef09,99.52,99.520000,97.700000,cse,9.78,"['introduction to computing using python', 'in...","['b', 'a', 'b', 's', 's', 's', 's', 's', 's', ...",...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,181,181,f5f7128e5f1a4c788f45b35bb2f86450,10.00,95.000000,97.200000,cse,9.53,"['introduction to computing using python', 'in...","['s', 's', 'a', 'a', 's', 'a', 'a', 's', 's', ...",...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,distinction award##,NaN,NaN
182,182,182,8d11bceee9e423b26ece3f4fa2012eb7,92.00,92.000000,97.500000,ece,9.05,"['introduction to computing using python', 'in...","['b', 'a', 'b', 'b', 'b', 'a', 'a', 'c', 'a', ...",...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,NaN,NaN,android##
183,183,183,952028cafc3047c291d80f1846eed994,9.40,89.300000,92.200000,ece,9.06,"['select topics in data science', 'introductio...","['b', 'a', 's', 'a', 's', 'b', 'a', 'a', 'a', ...",...,NaN,NaN,distinction##,NaN,NaN,NaN,NaN,distinction award##,NaN,NaN
184,184,184,88524eac43000d7046bd4d1bc168e428,9.80,93.100000,92.000000,cse,8.61,"['introduction to computing using python', 'in...","['s', 's', 'a', 'a', 'c', 'a', 'c', 'a', 's', ...",...,NaN,NaN,cnr##distinction##,NaN,NaN,NaN,NaN,NaN,NaN,NaN
185,185,185,e238cf6d77616ad743b21e5ba40188a9,99.00,99.000000,98.200000,cse,9.77,"['introduction to computing using python', 'in...","['a', 'a', 'a', 'a', 's', 's', 's', 'a', 's', ...",...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,NaN,NaN,NaN
186,186,186,43453114caae2dabb2e81b7c527e6b6a,98.24,98.240000,97.800000,ece,8.95,"['introduction to computing using python', 'in...","['b', 's', 'b', 'a', 'a', 'a', 's', 's', 'b', ...",...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187,187,187,a4a9f943c64ca058bf14a2cf698aea2d,9.60,91.200000,94.200000,ece,9.04,"['introduction to computing using python', 'in...","['b', 'a', 's', 'a', 'a', 'c', 'a', 'b', 'c', ...",...,NaN,NaN,cnr##,NaN,NaN,cie##ieee##,blockchain##,NaN,ibm##stanford##,machine learning##data science##
188,188,188,0dc185d16504c2da2640fc5b6e08dd48,98.54,98.540000,91.800000,cse,8.50,"['introduction to computing using python', 'in...","['c', 'a', 'b', 'a', 'c', 'c', 'a', 'b', 'a', ...",...,NaN,NaN,distinction##,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,189,189,4588bc5f5995220270092822b176a7e9,9.60,91.200000,88.000000,ece,8.26,"['introduction to computing using python', 'in...","['a', 's', 'a', 'b', 'b', 'a', 's', 'b', 'c', ...",...,NaN,NaN,NaN,NaN,"teaching assistant, 2019 - control systems, dr...",ieee##pes##intuit##amazon##,deep learning##robotics##,intel##cnr##merit##,NaN,machine learning##
190,190,190,e7a8be28aa9b071f6f6fa392c4e9da68,94.56,94.560000,90.500000,eee,8.07,"['introduction to computing using python', 'in...","['d', 'a', 'c', 'a', 'c', 'b', 'a', 'c', 'c', ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
191,191,191,5a58c067833f540120faf1c926994a15,95.50,95.500000,94.700000,cse,9.45,"['introduction to computing using python', 'in...","['s', 's', 's', 's', 'a', 's', 'a', 's', 's', ...",...,NaN,NaN,cnr##,NaN,NaN,NaN,NaN,NaN,NaN,NaN
192,192,192,0ea6d6263b533dd1ce6fe0017fa84901,10.00,95.000000,90.200000,ece,7.74,"['introduction to computing using python', 'in...","['d', 'b', 'c', 'a', 'a', 'c', 'a', 'a', 'd', ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
data1.to_csv(r'MasterDatasetTemp_Preprocessed_Anonymized_small.csv')