In [155]:
import numpy as np
import pandas as pd
import operator
import itertools
from itertools import combinations, chain

In [159]:
data_main= pd.read_csv(r"C:\Users\diyas\Documents\Recommendation_system\combinedFinalMasterDataset.csv") 
data_main['TierLevel']=data_main['TierLevel'].replace(to_replace ="1.0",value ="1")
data_main['TierLevel']=data_main['TierLevel'].replace(to_replace ="2.0",value ="2")
data_main['TierLevel']=data_main['TierLevel'].replace(to_replace ="3.0",value ="3")

In [160]:
"""var='ScholarshipsNLP'
var='AwardsNLP'
var='PublicationNLP'
var='WorkshopsDomain'
var='ResearchDomain'
var='InternshipProjectDomain'
var='ProgLanguages'
var='SoftwareTools'
var='ProjectDetailDomain'
var='LanguagesNLP'
var='ExternalCertificatesDomain'
var='WorkshopsOrg'
var='WorkshopsDomain'
var='VolunteeringWork"""

"var='ScholarshipsNLP'\nvar='AwardsNLP'\nvar='PublicationNLP'\nvar='WorkshopsDomain'\nvar='ResearchDomain'\nvar='InternshipProjectDomain'\nvar='ProgLanguages'\nvar='SoftwareTools'\nvar='ProjectDetailDomain'\nvar='LanguagesNLP'\nvar='ExternalCertificatesDomain'\nvar='WorkshopsOrg'\nvar='WorkshopsDomain'\nvar='VolunteeringWork"

In [190]:
#selection of dataset
var='SoftwareTools'
#data_main=data_main.apply(lambda x: x.astype(str).str.upper())

In [192]:
#GENERAL CODE 

#Consider alpha(between 1 and 0) 0.1
alpha= 0.1
ls=5

data= data_main[[var,'TierLevel']]
#print(data)
data = data.dropna()
data = data[data['TierLevel'] == '1'] 
data[var]=data[var].str.split('##')

print("FOR ",var)
print("LS = ",ls)
print("\n")
#finding frequency of domains
domain_count={}
for v,k in data[var].iteritems():
    for i in k:
        if i in domain_count:
            domain_count[i]=domain_count[i]+1
        else:
            domain_count[i]=1
#calulate MIS for each itemset

#GIVE PARAMETERS

#Step 1: find SD
#Lambda(mean)
lamb = 0
for val in domain_count.values(): 
    lamb += val 
lamb = lamb / len(domain_count) 


def mis(domain_count,ls,alpha):
    sd=lamb*(1-alpha)
    mis=[]
    misdict={}
    mis_val={}
    for k, v in domain_count.items():
        m=domain_count[k]-sd
        if(m<ls):
            mis.append(ls)
            misdict[domain_count[k]]=ls
            mis_val[k]=ls
        else:
            mis.append(m)
            misdict[domain_count[k]]=m
            mis_val[k]=m
    #print(mis_val)
    return mis_val

mis_val=mis(domain_count,ls,alpha)

mis_min2=min(mis_val.values())
L_2={}
for k, v in domain_count.items():
        if(domain_count[k]>=mis_val[k]):
            L_2[k]=mis_val[k]

#Step 2
#Sort L
temp= sorted(L_2.items(), key=operator.itemgetter(0))
L_21=sorted(temp, key=operator.itemgetter(1), reverse=True)
#2 ITEMSETS 
def findsubsets(s, n):
    return list(map(set, itertools.combinations(s, n)))   
n = 2
C2=findsubsets(L_21, n)

#count for each candidate itemset
count={}
for i,v in C2:
    for index, row in data.iterrows():
        t=""
        if(i[0] in row[var] and v[0] in row[var]):
            t=i[0]+","+v[0]
            if(t in count):
                count[t]=count[t]+1
            else:
                count[t]=1

                #checking criteria for count
L_12={}
for k, v in count.items():
        m=count[k]*100/272
        if(m>mis_min2):
            L_12[k]=count[k]
            
#FOR TIER 1, SORTED 2 ITEMSETS 
temp= sorted(L_12.items(), key=operator.itemgetter(0))
L_12_sorted=sorted(temp, key=operator.itemgetter(1), reverse=True)
print("2 itemset")
print(L_12_sorted)

#3 ITEMSETS
n = 3
C3=findsubsets(L_21, n)

count={}
for a,b,c in C3:
    for index, row in data.iterrows():
        t=""
        if(a[0] in row[var] and b[0] in row[var] and c[0] in row[var]):
            t=a[0]+","+b[0]+','+c[0]
            if(t in count):
                count[t]=count[t]+1
            else:
                count[t]=1
                
L_3={}
for k, v in count.items():
        m=count[k]*100/272
        if(m>mis_min2):
            L_3[k]=count[k]
            
#FOR TIER 1, SORTED 3 ITEMSETS 
temp= sorted(L_3.items(), key=operator.itemgetter(0))
L_3_sorted=sorted(temp, key=operator.itemgetter(1), reverse=True)
print("\n")
print("3 itemset")
print(L_3_sorted)

#4 ITEMSETS 
n = 4
C4=findsubsets(L_21, n)

count={}
for a,b,c,d in C4:
    for index, row in data.iterrows():
        t=""
        if(a[0] in row[var] and b[0] in row[var] and c[0] in row[var] and d[0] in row[var]):
            t=a[0]+","+b[0]+','+c[0]+','+d[0]
            if(t in count):
                count[t]=count[t]+1
            else:
                count[t]=1

L_4={}
for k, v in count.items():
        m=count[k]*100/272
        if(m>mis_min2):
            L_4[k]=count[k]
            
#FOR TIER 1, SORTED 4 ITEMSETS 
temp= sorted(L_4.items(), key=operator.itemgetter(0))
L_4_sorted=sorted(temp, key=operator.itemgetter(1), reverse=True)
print("\n")
print("4 ITEMSET")
print(L_4_sorted)

FOR  SoftwareTools
LS =  5


2 itemset
[]


3 itemset
[]


4 ITEMSET
[]

In [193]:
data

                                         SoftwareTools TierLevel
0                                                [NAN]         1
1                                                [NAN]         1
3                                                [NAN]         1
4                                                [NAN]         1
5                                                [NAN]         1
6                                                [NAN]         1
7                                                [NAN]         1
8                                                [NAN]         1
9                                                [NAN]         1
11                                               [NAN]         1
13                                               [NAN]         1
14                                               [NAN]         1
15                                               [NAN]         1
16                                               [NAN]         1
17                                               [NAN]         1
18                                               [NAN]         1
19                                               [NAN]         1
20                                               [NAN]         1
21                                               [NAN]         1
22                                               [NAN]         1
23                                               [NAN]         1
25                                               [NAN]         1
26                                               [NAN]         1
28                                               [NAN]         1
29                                               [NAN]         1
31                                               [NAN]         1
33                                               [NAN]         1
34                                               [NAN]         1
36                                               [NAN]         1
37                                               [NAN]         1
..                                                 ...       ...
441                                              [NAN]         1
442                                              [NAN]         1
443                                              [NAN]         1
444                                              [NAN]         1
450                                              [NAN]         1
452                                              [NAN]         1
453                                              [NAN]         1
454                                              [NAN]         1
455                                              [NAN]         1
456                                              [NAN]         1
457                                              [NAN]         1
458  [MYSQL\n, , OPERATING , ,  SYSTEMS: LINUX\n, ,...         1
462                                              [NAN]         1
465  [CLOUD, MACHINE LEARNING, BIG DATA, ANDROID, U...         1
466  [CLOUD, MACHINE LEARNING, BIG DATA, ANDROID, U...         1
470                                              [NAN]         1
472                                              [NAN]         1
473                                              [NAN]         1
475                  [ SQLITE, , POSTGRES, ,  MONGODB]         1
476                  [ SQLITE, , POSTGRES, ,  MONGODB]         1
483                                              [NAN]         1
484                                              [NAN]         1
486                                              [NAN]         1
488                                              [NAN]         1
489                                              [NAN]         1
491           [ MYSQL, MONGO, RAILS, POSTMAN, MATHLAB]         1
492                                              [NAN]         1
495                               [MYSQL, ,  POSTGRES]         1
496                                              [NAN]         1
499                                              [NAN]         1

[300 rows x 2 columns]